{% extends "layout.html" %}
{% block sub_content %}
<h1> What is Flog really about? </h1>
<ul>
    <li><h4>FLog is a dynamic Web Application built using Flask, a Python framework</h4></li>
    <li><h4>The beautiful templates have been built upon Jinja2 templating engine of Flask</h4></li>
    <li><h4>All user details are securely stored on a MySQL database</h4></li>
    <li><h4>User passwords are hashed and stored to ensure privacy</h4></li>
    <li><h4>Minimal styling for the Web App is done using Bootstrap </h4></li>
    <li><h4>CKEditor is used for styling the body of blog-posts</h4></li>
</ul>
{% endblock %}
